<!DOCTYPE html>
<html lang = "en" class = "signin-html">
  <head>
    <meta charset = "utf-8">
    <title>Locker Room - The Fan's Challenge</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name = "description" content = "The Fan's Challenge Sign-In Page">
    <meta name = "author" content = "Harsha Murthy">
  </head>

<script type="http://code.jquery.com/jquery-2.0.1.min.js"></script>
<script>
$(document).ready(function() {

$("h1").on("click", function() {
          $(".fav_teams").slideToggle();
        });
});
</script>
<body class = "tfc-body">
<br/ >
<br/ >
<h1 class= 'locker_room_h1'>Referee Stats</h1>
<ul class= "fav_teams">
  <% @refs.each do |c| %>
    <li>Referee: <%= c.name %></li>
    Calls made: <%= c.calls.count %> ||
    TFC Score: <%= c.votes.count %>
  <% end %>
</ul>

</body>
